:root{
  --title-pos: 0vH;
  --title-size: 100px;
  /* goes to  24px*/
  --ul-padding: 1.5rem;
  --nav-visibility: 0;
  --nav-size: 0vW; 
  /* goes to 15vW */

  --logo-animation-display-mode: grid;
}
.nav {
  position: fixed;
  width: 100vW;
  height: var(--navbar-start-height);
  z-index: 100;
  top: 0;
  left: 0; 

  margin-bottom: var(--site-offset);

  display: grid;
  justify-content: center;
  grid-auto-rows: 0.8fr 1.2fr;

  background-color: var(--thirdColor);
}

.title{
  position: relative;
  color: var(--secondColor);
  font-weight: bold;
  margin: auto;

  transition: 0.6s cubic-bezier(.13,.57,.55,.96);

}
.titlelink{
  font-size: var(--title-size);

  display: flex;
  align-items: center;
}


.nav ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: var(--ul-padding);
  

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li {
  position: relative;
  margin: auto;
  margin-top: calc(var(--navbar-start-height)/2 - var(--title-size) - var(--ul-padding));
}
.gitlink, .homepagelink, .accountlink, .detailslink{
    transition: all 0.6s ease;
    font-size: 1.5rem; 

    margin: auto;
}
.nav a {
  transition: 0.2s;
  text-decoration: none;
  position: relative;
  
  color: var(--secondColor);
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: var(--hoverColor);
}

.titlelink:hover{
   color: var(--secondColor) !important;
}

.navel{
  transition: 1s;
  opacity: var(--nav-visibility);
  width: var(--nav-size);
  text-align: center;
}


.logoanimationdiv{
  position: relative;
  margin: 0;
  padding-top: 5vh;

  display: var(--logo-animation-display-mode);
  justify-items: center;
  grid-auto-rows: 100px;
}
.firstdart,
.seconddart{
  position: relative;
  margin: 0;
}

.firstdart{
  animation: dart 1.5s ease 0s infinite;
}

.seconddart{
  animation: dart 1.5s ease 0.2s infinite;
}

@keyframes dart {
  0%{
    top: 0;
  }
  50%{
    top: 30px;
  }
  100%{
    top: 0;
  }
}


/* For Mobile */
@media screen and (max-width: 500px) {
  .navel{
    display: none;
  }
}

/* @media screen and (max-width: 1000px) {
  .gitlink, .detailslink{
    transition: all 1s ease;
    position: absolute;
    opacity: 0;
    transform: translateY(-200%);
    visibility: hidden;
    display: none;
  }
  .nav{
    position: relative;
  }

  .navmenu{
    display: flex;
    flex-direction: column;
    width: 100vW;
    height: 250px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0;
  }
  .navmenu.active{
    background: rgba(176,49,63,255);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navel{
    text-align: center;
    padding: 2rem;
    display: table;
  }
  .navel:hover{
    background-color: rgba(188,85,97,255);
    border-radius: 0;
  }
  .menuicon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times{
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .autor{
    display: none;
  }
} */
