.page{ 
  /* display: flex;
  justify-content: center; */
  position: relative;
  height: 100vh;

  background-size: cover;
  background-color: var(--secondColor);

  top: 15vH
 
}

.chapter{
  width: 70%;
  margin: auto;
}
