.page{ 
  /* display: flex;
  justify-content: center; */
  position: relative;
  /* height: 100vh; */

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(0,70vW);
  grid-row-gap: 10vH;

  background-color: var(--secondColor);

  /* top: 25vH */
 
}

/* .chapter{
  width: 70%;
  margin: auto;
} */

@media screen and (max-width: 500px){
  
}