.page{ 
  /* display: flex;
  justify-content: center; */
  position: relative;
  /* height: 100vh; */

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(0,70vW);
  grid-row-gap: 10vH;

  background-color: var(--secondColor);

  /* top: 25vH */
 
}

@media screen and (max-width: 1000px){
  .page{
    grid-template-columns: minmax(0,85vW);
  }
}
@media screen and (max-width: 500px){
  .page{
    grid-template-columns: minmax(0,85vW);
  }
}