:root{
    --border-radius: 30px;
    --selectbar-height: 12vH;
    --innerselectbar-height: 5vH;

    --number-of-bars: 50;
}

.outer{
    height: calc(100vH - var(--navbar-end-height));
    width: 100%;
    display: grid;
    grid-template-rows: 15vH 15vH 50vH;
    justify-items: center;
    /* grid-row-gap: 10vH; */
}

.title{
    margin: 0;
    color: var(--firstColor);
    font-size: var(--first-headline-size);
}
.selectbar{
    margin: auto;
    width: 80%;
    height: var(--selectbar-height);
    background-color: var(--firstColor);
    color: var(--secondColor);
    border-radius: 30px;

    display: grid;
    grid-template: 1fr;
    align-items: center;
}
.innerselectbar{
    position: relative;
    width: 100%;
    /* height: var(--innerselectbar-height); */
    /* left: var(--border-radius); */
    font-size: var(--normal-text-font-size);


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    justify-content: space-between;
    align-items: center;
}
 
.selectellement{
    text-align: center;
}

/* Button */
.btn {
    color: var(--secondColor);
    background: none;

    border: 1px solid var(--firstColor);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
    padding: 10px 20px;

    font-size: calc(var(--normal-text-font-size)/1.2);
    cursor: pointer;

    transition: 0.5s;

    position: relative;
    overflow: hidden;
    z-index: 1;
    
}
.btn:hover {
    color: var(--firstColor);
    font-weight: 500;
    transform: scale(1.3);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--secondColor);
    z-index: -1;

    bottom: 0;
    border-radius: 50% 50% 0 0;

    transition: 0.5s;
}
.btn:hover::before{
    height: 180%;
}

/* slider */
.slidercontainer{
    position: relative;
    width: 70%;

    display: grid;
    grid-template: 1fr;

    font-size: var(--normal-text-font-size);
  }

  .slider{
    appearance: none;
    width: 100%;
    height: 100%;
    background: var(--secondColor);

    border-radius: 10px;

    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
  }
  .slider:hover{


      opacity: 1;
  }
  .slider::-moz-range-thumb{
      cursor: pointer;
      background-color: var(--firstColor);
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--firstColor);
    cursor: pointer;
  }

/* Sort */
.sortdiv{
    margin-top: 10vH;

    position:relative;
    width: 70%;
    
    display: grid;
    grid-template-columns: repeat(var(--number-of-bars), minmax(3px, 1fr));
    grid-gap: 0.5rem;
    align-items: center;

}
.arraybar{
    width: 10px;
    background-color: var(--firstColor);
    border-radius: 10px;
    transition: 0.5s;
}