.outer{
    background-color: var(--firstColor);
    border-radius: 20px;

    width: max(400px, 60%);
    margin-inline: auto;
    margin-top: 5vH;
    padding-block: 3rem;

    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 15vH;

    grid-template-columns: 70%;
}

.title{
    font-size: 3rem;
    color: var(--secondColor);
    font-weight: 700;

    text-align: center;
    
}
.form{
    display: grid;
    align-items: center;


    row-gap: 8vH;
}
.label{
    color: var(--secondColor);
    
    position: relative;
    
    text-align: right;
    font-size: 1.5rem;

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.input{
    background-color: var(--secondColor);
    border: none;
    border-radius: 10px;

    text-align: center;
    font-size: 1.5rem;
    color: var(--firstColor);

    width: 100%;
    height: 7vH;
}

/* Button */
.btn {
    color: var(--firstColor);
    background: var(--secondColor);

    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
    padding: 10px 20px;

    font-size: calc(var(--normal-text-font-size)/1.2);
    cursor: pointer;

    transition: 0.5s;

    position: relative;
    overflow: hidden;
    z-index: 1;
    
}
.btn:hover {
    color: var(--secondColor);
    font-weight: 500;
    transform: scale(1.3);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--firstColor);
    z-index: -1;

    bottom: 0;
    border-radius: 50% 50% 0 0;

    transition: 0.5s;
}
.btn:hover::before{
    height: 180%;
}