/* .html{
  scroll-behavior: smooth;
} */

  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  scroll-behavior: smooth;
  --firstColor: #3399ff;
  --secondColor: white;
  --thirdColor: var(--firstColor);
  --hoverColor:  #bdeaff;
  --first-headline-size: 4rem;
  --normal-text-font-size: 1.6rem;

  --sorting-bar-align: flex-end;

  --animation-color: #8100ac;
  --favourite-color: #f3ca00;
}