.outer{
	position: relative;
	width: 100%;

	/* border-radius: 10px;
	border-color: var(--firstColor);
	border-style: solid;
	padding: 3vH; */
}

.select{
	position: relative;
	width: 100%;
	margin-top: 7vH; 

	display: grid;
	gap: 5vH;

	grid-template-columns: 1fr 1fr;
    grid-row-gap: 5vH;
    grid-column-gap: 1vW;
}

.title{
	width: 60%;
	height: 4.5rem;
	background: var(--firstColor);
	color: var(--secondColor);
	border-radius: 1rem;

	margin: auto;
	/* margin-top: 20rem;
	margin-bottom: 3rem; */

	text-align: center;
	font-size: 3rem;
}
/* .table{
	width:100%;	
} */
 
.card{
	position: relative;
	width:  70%;
	margin: auto;
	margin-top: 0;

	text-align: center;

	transition: 0.4s;

}
.card:hover{
	transform: scale(1.2);
}
.card a{
    text-decoration: none;
}

.cardtitle{
	color: var(--firstColor);
	font-size: 2rem;
}








